*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	
}

header{
	display: flex;
	margin: auto;
	justify-content: space-between;
	align-items: center;
	height: 150px;
}

header img{
	margin: 5%;
	cursor: pointer;
	width: 15%
}
nav{
	margin-right: 10%;
	justify-content: space-between;

	/*text-decoration: none;*/

}
nav a{
	border-right: 12px;
	font-size: 4vh;
	justify-content: space-between;
	color: black;
	border-right: black 2px solid;
	padding: 15px 15px;
	text-decoration: none;
}
 #imgf{
 	position: fixed;
 }

 .opaco{
 	position: absolute;
    width: 48%;
    /* margin-top: 5%; */
    opacity: 60%;
    height: 100%;
    background-color: black;

 }

.textoencima11 h1{
	margin-right: 2%;
	position: absolute;
    margin-top: 10%;
    margin-right: 60%;
    font-size: 6vh;
    text-align: center;
    color: #fff
}

#imgf img{
    width: 100%;
    height: 520px;

}

.imgss img{
	width: 20%;
}

.texto11 a{
	position: absolute;
    color: #fff;
    font-size: 8vh;
    border: 7 px solid;
    background: radial-gradient(#000000d4, #f9111100);
    text-align: center;
    /* margin-right: 10%; */
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 60%;
    text-decoration: none;
    cursor: pointer;


}

.texto11 a:hover {
	transform: scale(1.5);
	transition: transform .2s
}
