*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	
}

header{
	display: flex;
	margin: auto;
	justify-content: space-between;
	align-items: center;
	height: 150px;
}

header img{
	margin: 5%;
	cursor: pointer;
	width: 15%
}
nav{
	margin-right: 10%;
	justify-content: space-between;

	/*text-decoration: none;*/

}
nav a{
	border-right: 12px;
	font-size: 4vh;
	justify-content: space-between;
	color: black;
	border-right: black 2px solid;
	padding: 15px 15px;
	text-decoration: none;
}


#medio{
	position: absolute;
}

.titulo h1{
	align-items: center;
	text-align: center;
   margin-left: 50%;
   font-size: 11vh;
   margin-top: -28%;;
}

.titulo2 h2{
	text-align: center;
    margin-left: 46%;
    margin-top: 4%;
    font-size: 4vh;
    margin-right: 5%;
}
