html,
body {
  height: 100%;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

.logo {
  width: 5em;
  text-align: center;
}

.centrar {
  text-align: center;
  padding: 20px;
}

.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}

.cover-heading {
  font-weight: bold;
  font-size: 3em;
}

.bajar-panel {
  padding-top: 82px;
}

.panel2 {
  margin-top: 16%;
  border-radius: 18px;
  padding: 18px;
  color: #21262a;
}

.ulpropio li {
  margin-top: 24px;
  padding-left: 19px;
  padding-bottom: 19px;
}

.navbar {
  padding: 0.5rem 4rem !important;
  background-color: rgba(233, 246, 246, 0.37) !important;
  backdrop-filter: blur(32px) !important;
  max-width: 100%;
  position: fixed !important;
  top: 0;
  z-index: 1;
  overflow-y: scroll;
}

body {
  background-color: #e9f6f6 !important;
}

.text-titulo {
  font-size: 4.5em !important;
  padding-top: 10%;
}

@media (max-width: 576px) {
  .text-titulo {
    font-size: 40px !important;
  }
  .ulpropio li {
    font-size: 1.5em !important;
    margin-top: 8px !important;
  }
  .btnpropio {
    font-size: 1.5em !important;
  }
  .imagenes-carta2 {
    width: 100% !important;
    margin: 0px !important;
  }
  .paneles {
    padding-left: 5% !important;
    padding-right: 5% !important;
    margin-bottom: 15% !important;
  }
}

.seccion-logo {
  margin-top: 87px;
  font-weight: bold;
  letter-spacing: -3.18px;
  line-height: 77px;
  text-align: center;
  padding: 45px 17% 45px 17%;
}

.seccion-texto {
  letter-spacing: 0 !important;
}

.btn-primary {
  background-color: #00b8bb !important;
  border-color: #00b8bb !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #0a9092 !important;
  border-color: #0a9092 !important;
}

.btn-primary:active {
  color: #fff !important;
  background-color: #0a9092 !important;
  border-color: #0a9092 !important;
}

.carta {
  width: 100%;

  /* border-radius: 21px 21px 0 0; */
  /* background-color: #fff;
  -webkit-box-shadow: 0px 22px 70px -28px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 22px 70px -28px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 22px 70px -28px rgba(0, 0, 0, 0.75); */
}

.paneles {
  padding-left: 16%;
  padding-right: 16%;
  margin-bottom: 15%;
}

.contenido {
  padding-left: 8em;
  padding-right: 8em;
  padding-left: 8em;
  padding-right: 8em;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  margin-top: 12%;
}

.btn-link {
  color: #000 !important;
}

.imagenes-carta {
  width: 100%;
}

.imagenes-carta2 {
  width: 38%;
  margin-left: 50%;
  margin-top: 170px;
}

.imagenes-carta3 {
  width: 100%;
}

.contenedor {
  padding: 100px 0px 100px 0px;
}

.texto {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.dark-mode{
  background-color: black !important;
  color: #fff;
  transition-duration: 0.5s;
}

.dark-mode a{
  color: #fff !important;
}

.dark-mode .navbar {
  background-color: rgba(0, 0, 0, 0.37) !important;
}